$white: #ffffff;
$white_dark: #e2e2e2;
$grey: #9a9a9a;
$grey_dark: #555;
$grey_darkest: #333333;
$grey_light: #f9f9f9;
$green: #72c02c;
$green_dark: #5fb611;
$blue: #3498db;
$blue_dark: #2691d9;
$red: #e20000;
